body{
    
    height: 60vh;
    display: flex;
    justify-content:space-around;
    flex-direction:row;
    align-content: center;
}
div{
    margin-bottom: 15px;
}

form{
    width: 608px;
    border: 1px solid blue;
    float: left;
    position: absolute;
    text-align: left;
    top: 150px;
    padding: 20px;
    background: transparent;
    font-family: Arial Narrow "Yu Gothic UI Light";
}
label{
    font-family: Arial Narrow "Yu Gothic UI Light";
}




.Areas{
    width: 430px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
    
}
.Areas:focus{
    border-bottom: 3px solid blue;
}

.Outro{
    width: 600px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
}
.Outro:focus{
    border-bottom: 3px solid blue;
}
.Catego{
    width: 530px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
    
}
.Catego:focus{
    border-bottom: 3px solid blue;
}

.Cat{
    width: 600px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
}
.Cat:focus{
    border-bottom: 3px solid blue;
}


.Bottons{
    margin-top: 25px;
    margin-left: 392px;
    width: 215px;
}

.Cancelar{
     width: 100px;
     height: 45px;
    background-color: white;
    border: 2px solid red;
    border-radius:4px;
    color: darkblue;
    font-size: 20px;
    
    
}
.Cancelar:hover{
    background-color: red;
    color: white;
}

.Criar{
    width: 100px;
     height: 45px;
    background-color: white;
    border:2px solid darkblue;
    border-radius:4px;
    margin-left: 10px;
    color: darkblue;
    font-size: 20px;
}
.Criar:hover{
    background-color: darkblue;
    color: white;
}



















