body{
    
    height: 60vh;
    display: flex;
    justify-content:space-around;
    flex-direction:row;
    align-content: center;
}
div{
    margin-bottom: 15px;
}

form{
    width: 500px;
    border: 1px solid blue;
    float: left;
    position: absolute;
    text-align: left;
    top: 150px;
    padding: 20px;
    background: transparent;
    font-family: Arial Narrow "Yu Gothic UI Light";
}
label{
    font-family: Arial Narrow "Yu Gothic UI Light";
}

.Areas{
    width: 458px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
    
}
.Areas:focus{
    border-bottom: 3px solid blue;
}

.Filial{
     width: 455px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
}

.Filial:focus{
    border-bottom: 3px solid blue;
}


.Codigo{
     width: 500px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
    
}

.Codigo:focus{
    border-bottom: 3px solid blue;
}
.Nome{
     width: 500px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
    
}

.Nome:focus{
    border-bottom: 3px solid blue;
}

.Bottons{
    margin-top: 25px;
    margin-left: 285px;
    width: 500px;
}



.Alterar{
    width: 100px;
     height: 45px;
    background-color: white;
    border:2px solid darkblue;
    border-radius:4px;
    margin-left: 10px;
    color: darkblue;
    font-size: 18px;
    
}
.Alterar:hover{
    background-color: darkblue;
    color: white;
}


.Anular{
     width: 100px;
     height: 45px;
    background-color: white;
    border: 2px solid red;
    border-radius:4px;
    color: red;
    font-size: 19px;
    
    
}
.Anular:hover{
    background-color: red;
    color: white;
}
















