body{
    
    height: 60vh;
    display: flex;
    justify-content:space-around;
    flex-direction:row;
    align-content: center;
}
div{
    margin-bottom: 15px;
}

form{
    width: 608px;
    border: 1px solid blue;
    float: left;
    position: absolute;
    text-align: left;
    top: 80px;
    padding: 20px;
    background: transparent;
    font-family: Arial Narrow "Yu Gothic UI Light";
}
label{
    font-family: Arial Narrow "Yu Gothic UI Light";
}


.Areas{
    width: 430px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
    
}
.Areas:focus{
    border-bottom: 3px solid blue;
}

.Perfil{
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
}
.Perfil:focus{
    border-bottom: 3px solid blue;
}

.Pais{
     width: 100px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    margin-left: 5px;
    outline: none !important;
    outline-offset: none !important;
}
.Pais:focus{
    border-bottom: 3px solid blue;
}

.Provincia{
     width: 100px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    margin-left: 5px;
    outline: none !important;
    outline-offset: none !important;
}
.Provincia:focus{
    border-bottom: 3px solid blue;
}
.Provincia_text{
    margin-left: 47px;
}
.Municipio{
     width: 100px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    margin-left: 5px;
    outline: none !important;
    outline-offset: none !important;
}
.Municipio:focus{
    border-bottom: 3px solid blue;
}
.Municipio_text{
    margin-left: 56px;
}
.Condicoes_Reg{
    width: 302px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
}

.Condicoes_Reg:focus{
    border-bottom: 3px solid blue;
}

.Ba_Ru_Ca{
     width: 606px;
    height: 30px;
    border: none;
    border-bottom: 1px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
}
.Ba_Ru_Ca:focus{
    border-bottom: 3px solid blue;
}

.Idade{
    
    width: 150px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
}

.Idade:focus{
    border-bottom: 3px solid blue;
}

.Habil{
    width: 300px;
    height: 50px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
    
}

.Habil:focus{
    border-bottom: 3px solid blue;
}

.Out_Qual{
    width: 300px;
    height: 50px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
    
}
.Out_Qual:focus{
    border-bottom: 3px solid blue;
}

.Data{
     width: 180px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
}
.Data_Exp_text{
    margin-left:13px; 
}
.Data:focus{
    border-bottom: 3px solid blue;
}

.Codigo{
     width: 297px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
    
}

.Codigo:focus{
    border-bottom: 3px solid blue;
}

.Bottons{
    margin-top: 25px;
    margin-left: 392px;
    width: 215px;
}

.Anular{
     width: 100px;
     height: 45px;
    background-color: white;
    border: 2px solid red;
    border-radius:4px;
    color: darkblue;
    font-size: 20px;
    
    
}
.Anular:hover{
    background-color: red;
    color: white;
}

.Criar{
    width: 100px;
     height: 45px;
    background-color: white;
    border:2px solid darkblue;
    border-radius:4px;
    margin-left: 10px;
    color: darkblue;
    font-size: 20px;
}
.Criar:hover{
    background-color: darkblue;
    color: white;
}