body{
    background-color: #fff;
}

#formulario{
    width: 500px;
    height: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
}


input,select{
    padding: 5px;
    border: 0;
    outline:none;
    border-bottom: 2px solid #555;
    font-size: 20px;
    width: 500px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    margin: 5px 0 10px 0;
    background-color: transparent;
}

input.invalido {
    background-color: #ffdddd;
}

input:focus{
    border-bottom: 3px solid #222;
}


.tab {
    display: none;
}

button{
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
    
}



button:hover {
    opacity: 0.8;
}
#btnVoltar {
    background-color: #bbbbbb;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.step.actual {
    opacity: 1;
}
.step.fim {
    background-color: #4CAF50;
}
a{
    text-decoration-line: none;
}

