body{
    
    height: 60vh;
    display: flex;
    justify-content:space-around;
    flex-direction:row;
    align-content: center;
}
div{
    margin-bottom: 15px;
}

form{
    width: 500px;
    border: 1px solid blue;
    float: left;
    position: absolute;
    text-align: left;
    top: 80px;
    padding: 20px;
    background: transparent;
    font-family: Arial Narrow "Yu Gothic UI Light";
}
label{
    font-family: Arial Narrow "Yu Gothic UI Light";
}

.Estado{
    width: 200px;
    height: 25px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
    
}

.Estado:focus{
    border-bottom: 3px solid blue;
}

.Motivo{
    width: 200px;
    height: 25px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
    
}

.Motivo:focus{
    border-bottom: 3px solid blue;
}


.Dados{
    width: 500px;
    height: 200px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
    
}

.Dados:focus{
    border-bottom: 3px solid blue;
}


.Codigo{
     width: 500px;
    height: 30px;
    border: none;
    border-bottom: 2px solid darkblue;
    font-size: 15px;
    outline: none !important;
    outline-offset: none !important;
    
}

.Codigo:focus{
    border-bottom: 3px solid blue;
}

.Bottons{
    margin-top: 25px;
    margin-left: 250px;
    width: 500px;
}

.Anular{
     width: 100px;
     height: 45px;
    background-color: white;
    border: 2px solid red;
    border-radius:4px;
    color: darkblue;
    font-size: 19px;
    margin-left: -500px;
    
    
}
.Anular:hover{
    background-color: red;
    color: white;
}

.Alterar{
    width: 140px;
     height: 45px;
    background-color: white;
    border:2px solid darkblue;
    border-radius:4px;
    margin-left: 10px;
    color: darkblue;
    font-size: 18px;
    
}
.Alterar:hover{
    background-color: darkblue;
    color: white;
}


.Salvar{
     width: 100px;
     height: 45px;
    background-color: white;
    border: 2px solid green;
    border-radius:4px;
    color: green;
    font-size: 19px;
    
    
}
.Salvar:hover{
    background-color: green;
    color: white;
}
















